@import "variables";
@import url('https://fonts.googleapis.com/css?family=Lato');
html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  background: $backgroundColor;
  font-family: Lato, sans-serif;
  color: $fontColor;
}

a{
  text-decoration: none;
}