@import "flexgrid";
@import "fontello";
@import "reset";
@import "variables";
@import "mixins";

.container{
  max-width: 45em;
  border-bottom: 1em solid $headerColor;
}

a{
  cursor: pointer;
  color: $fontColor;
  display: inline-block;
  padding: 3em;
}

#header{
  background: $headerColor;
}

#menu{
  background: $headerColor;
  padding: 5px;
}

#buttons-group{
  padding-right: 20px;
  padding-left: 20px;
  a{
    color: $fontColor;
    background: $menuButtons;
    padding: 0.8em;
    border-radius: 5px;
    @include borderTransparent;
    &:hover{
      @include borderUnderline;
    }
    &:active{
      color: $fontColor;
      @include borderUnderline;
    }
  }
}

.item{
  &:nth-of-type(odd) {
    background: darken(#9fa0ff, 1);
  }
  &:nth-of-type(even) {
    background: lighten(#9fa0ff, 3);;
  }
  a:active{
    color: $fontColor;
  }
  img{
    width: 70px;
    height: 70px;
  }
  .icon-online, .icon-offline{
    width: 30px;
    height: 30px;
  }
  .info{
    font-size: 0.8em;
  }
  em{
    font-weight: bold;
  }
}

.item-size {
  height: 8em;
}

#online-header-box,
#offline-header-box{
  background: $headerColor;
  text-align: center;
}


